<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
  <meta  charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Site du club de gyme PSLM" />
  <title>{{ .Site.Title }}</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet"/>
  <link href="/css/myne-site-icons-codes.css" type="text/css" rel="stylesheet"/>
  <link href="/css/myne-site-icons.css" type="text/css" rel="stylesheet"/>
  <link href="/css/flickity.css" type="text/css" rel="stylesheet">
  <link href="/css/style.css" type="text/css" rel="stylesheet"/>
  <script src="/js/modernizr.js"></script>
</head>
<body>

  <section class="container">
    <div class="row center">
      <img src="/img/logo.jpg" alt="Logo PSLM">
      <h1>Site en Maintenance</h1>
      <p>Retrouvez nous sur notre <a href="https://www.facebook.com/profile.php?id=100011609463221" >page facebook</a><p>
    </div>
  </section>

<!--  Scripts-->
<script src="/js/jquery-3.0.0.min.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

</body>
</html>
